version: '3.8'
services:
  soap-service:
    build: .
    container_name: soap-srv-container
    image: soap-tubes2:latest
    env_file: .env
    ports:
      - "3030:3030"
    depends_on:
      - soap-db
    volumes:
      - /app
  soap-db:
    container_name: soap-db
    image: mysql
    restart: unless-stopped
    volumes:
      - ./migration/db:/var/lib/mysql
      - ./migration/init/db:/docker-entrypoint-initdb.d/
    environment:
      MYSQL_DATABASE: notflix-soap-service
    env_file: .env
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -u root --password=$MYSQL_PASSWORD"]
      interval: 10s
      retries: 10
      timeout: 5s
  phpmyadmin:
    container_name: soap-srv-pma
    image: phpmyadmin
    depends_on:
      - soap-db
    environment:
      PMA_HOST: soap-db
    ports:
      - "4030:80"